@using Projet_ASP.Models.DeveloperViewModel
@model IEnumerable<DeveloperListItem>


<h2 class="title text-center">Développeurs et Développeuses</h2>

@foreach (DeveloperListItem dev in Model){
	<div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
											<img src="/assets/images/home/@dev.DevPicture" alt="" />
											<h2>€@dev.DevHourCost/Hours</h2>
											<p>@dev.DevFirstName @dev.DevName - @dev.DevCategPrincipal</p>
											
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Details</a>
										</div>
										<div class="product-overlay">
											<div class="overlay-content">
												<h2>€@dev.DevHourCost/Hours</h2>
												<p>@dev.DevFirstName @dev.DevName - @dev.DevCategPrincipal</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Details</a>
												
											</div>
										</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
	</div>

}
						
						
